<%- include('navbar', {title: 'Dashboard'}); %> 

 <!--Side Nav for mobile view-->
 <ul class="sidenav" id = "mobile-nav">
  <%- include('sideMenuMain') %> 
  <div class="divider"></div>
  <p class = "sideMenuText "> <strong>Food Categories</strong></p>
  <li id = "recfoodsSide"><a  href="?category=recfoods">Featured</a></li>
  <li id = "fast-foodSide"><a  href="?category=fast-food">Fast Foods</a></li>
  <li id = "meatySide"><a  href="?category=meaty">Meat Corner</a></li>
  <li id = "low-fatSide"><a  href="?category=low-fat">Low Fat</a></li>
  <li id = "vegetarianSide"><a  href="?category=vegetarian">Vegetarian</a></li>
  <li id = "high-carbSide"><a  href="?category=high-carb">High Carb</a></li>
  <li id = "seafoodSide"><a  href="?category=seafood">Seafood</a></li>
  <li id = "sweetSide"><a  href="?category=sweet">Sweets</a></li>
  <li id = "snacksSide"><a  href="?category=snacks">Snacks</a></li>
  
</ul>

  <div class="row">
      <div class="col m3 l3 hide-on-small-only">
          <div id = "sideMenu" class="container">
            <p  class = "menuLabel"> <strong>Menu</strong></p>
            <div class="divider"></div>
            <div class="sideMenuItem"><a id = "recfoods" href="?category=recfoods">Featured Foods</a></div>
            <div class="sideMenuItem"><a id = "fast-food" href="?category=fast-food">Fast Foods</a></div>
            <div class="sideMenuItem"><a id = "meaty" href="?category=meaty">Meat Corner</a></div>
            <div class="sideMenuItem"><a id = "low-fat" href="?category=low-fat">Low-Fat</a></div>
            <div class="sideMenuItem"><a id = "vegetarian" href="?category=vegetarian">Vegetarian</a></div>
            <div class="sideMenuItem"><a id = "high-carb" href="?category=high-carb">High Carb</a></div>
            <div class="sideMenuItem"><a id = "seafood" href="?category=seafood">Seafood</a></div>
            <div class="sideMenuItem"><a id = "sweet" href="?category=sweet">Sweets</a></div>
            <div class="sideMenuItem"><a id = "snacks" href="?category=snacks">Snacks</a></div>
          </div>
      </div>
      <div class="col s12 m9 l9">
        <br>
        <div class="input-field col s6">
          <input placeholder="e.g. Hot dog" id="searchField" type="text" class="validate">
          <label for="searchField">Search</label>
        </div> 
        <div class="input-field col s6 l3">
          <select id = "filter" multiple>
            <optgroup label="Group 1"></optgroup>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </optgroup>
            <optgroup label="Group 2">
              <option value="4">Option 3</option>
              <option value="5">Option 4</option>
            </optgroup>
          </select>
          <label>Filter</label>
        </div>
        <br><br><br><br>
        <div class="section section-cardinfo scrollspy">
          <div id="foodsection">
              <div class = "margin-left: 70px;" class = "row">
              <% foods.forEach(function(food) {%>
              <div class="col s6 m4 l3">
                <div class="card z-depth-1 hoverable">
                  <div class="card-image">
                      <img class = "card-photo" onclick="sendToRelevantPage('<%=food._id%>')" src="<%= food.photoLink %> " height = 200  alt="<%= food.name %>">
                  </div>
                  <div class="card-action" >
                    <a href="#" style="color: #EE7176;" class = "waves-effect truncate"><%= food.name %> </a>
                  </div>
                </div>
              </div>
              <% }); %> 
              </div> 
          </div>  <!--end of foodsection container -->
        </div>  <!--end of card view of the foods --> 
    </div>
  </div>
  
    
  


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  function sendToRelevantPage(id){
    location.href = `<%=root%>/user/food/${id}`;
  }
  // console.log('<=sideTab%>'); 
  let selectedTab = `<%=tab%>`;
  let selectedSideTab = `<%=sideTab%>`;

  document.getElementById('dashboardLink').style.color = '#EE7176'; 
</script>
<script src="<%=root%>/js/dashboard.js"></script>

</body>
</html>