<%- include('navbar', {title: 'Favorites'}); %> 
 <!--Side Nav for mobile view-->
 <ul class="sidenav" id = "mobile-nav">
    <%- include('sideMenuMain') %> 
  </ul>

<h3 class = "center-align"><%=message%></h3>

<section class="section">
    <div class="container">
        <div class="row">
            <% if(foods.length>0) {%> 
                <ul class="collection">
                    <% foods.forEach(function(food) {%>
                        <a class="collection-item avatar" href = "<%=root%>/user/food/<%=food._id%>">
                            <img src="<%= food.photoLink %>" alt="<%= food.name %>" onclick="sendToRelevantPage('<%=food.id%>')" class="circle">
                            <p class = "teal-text"><strong><%= food.name.toUpperCase() %></strong></p>
                            <span style="color: #9e9e9e;" class = "title">Category: <%= food.category %></span>
                        
                        </a>
                    <% }); %> 
                </ul>
            <% }%> 
        </div>
    </div>
</section>



<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
      function sendToRelevantPage(id){
            location.href = `<%=root%>/user/food/${id}`;
      }
      
</script>
<script src="<%=root%>/js/favorites.js"></script>
</body>
</html> 