<%- include('navbar', {title: 'Search'}) %> 
    

    <!--Side Nav for mobile view-->
    <ul class="sidenav" id = "mobile-nav">
      <%- include('sideMenuMain') %> 
      <div class="divider"></div>
      <p class = "sideMenuText"><strong>Search Type</strong></p>
      <li style="background-color: #ee7176;"><a  href="">General</a></li>
      <li><a  href="<%=root%>/user/search/ingredients">By Ingredient</a></li>
    </ul>

    <!--Search Type Tabs-->
   <div style="padding-top: 2px;" class="hide-on-med-and-down">
    <nav class="white">
      <div class="nav-wrapper">
        <div style="width: 100%;" class="row">
          <ul id = "tabsBar"  class="tabs tab-demo  hide-on-med-and-down">
            <li class="tab col s6"><a style = "color: #EE7176;" id = "recFoodsTab" href="<%=root%>/user/search">General Search</a></li>
            <li class="tab col s6"><a id = "fastFoodsTab"   href="<%=root%>/user/search/ingredients">Search by Ingredients</a></li>
          </ul>
        </div>
       </div>
    </nav>
   </div>
   <div class="divider"></div>
   
    <div class="section new-section">
        <div class="container">
            <!--Search Field-->
            <div class="row">
                <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                    <input type="text" id="autocomplete-input" class="autocomplete" value = "<%=enteredFood%>">
                    <label id = "label" for="autocomplete-input">Food name</label>
                    </div>
                </div>
                <button style="width: 100%;" id = 'outputBtn' class = "btn  waves-effect" > Search </button>
                </div>
            </div>
        </div>
    </div>
    

        <!--Featured foods-->
    <section class="section section-cardinfo scrollspy">

      <div class = "container">
        <p class = "center-align" id = "warning"></p>
        <% foods.forEach(function(food) {%>
          <div class="row">
          <div class="col s6 m4 l3">
            <div class="card z-depth-1 hoverable">
              <div class="card-image">
                  <img class = "card-photo" onclick="sendToRelevantPage('<%=food.id%>')"  src="<%= food.photoLink %> " height = 180  alt="<%= food.name %>">
              </div>
              <div class="card-action" >
                <a href="#" style="color: #EE7176;" class = "waves-effect"><%= food.name %> </a>
              </div>
            </div>
          </div>
      <% }); %> 
      </div> 
    </div>
    </section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="<%=root%>/js/generalSearch.js"></script>
<script>
  function sendToRelevantPage(id){
    location.href = `<%=root%>/user/food/${id}`;
  }
  document.getElementById('dashboardLink').style.color = '#F3979A'; 
  document.getElementById('searchLink').style.color = '#EE7176 '; 
  document.getElementById('settingsLink').style.color = '#F3979A'; 
  
</script>
</body>
</html>